In [1]:
sd = {'a':1,'b':2}

In [2]:
sd['c']

KeyError: 'c'

In [3]:
fec = "2020-01-26 00:00:01"

In [4]:
fec.split(' ')[0]

'2020-01-26'

In [5]:
import pandas as pd

In [18]:
df = pd.DataFrame([['2022-02-04',20],['2022-02-05',30]],columns=['date','number'])
df['date'] = pd.to_datetime(df['date'])
df

        date  number
0 2022-02-04      20
1 2022-02-05      30

In [21]:
df['date'].astype(str)

0    2022-02-04
1    2022-02-05
Name: date, dtype: object

In [20]:
df.to_dict(orient='records')

[{'date': Timestamp('2022-02-04 00:00:00'), 'number': 20},
 {'date': Timestamp('2022-02-05 00:00:00'), 'number': 30}]

In [23]:
df = pd.read_excel(
    '/home/sebastian/mathmax/fake_wiga/be/controllers/stored_data/weather_update_test.xlsx'
)

In [24]:
df

,Fecha,Hora,Humedad Relativa EST Caribe - Antioquia %,Radiación Par EST Caribe - Antioquia µmol m-2 s-1,Temperatura EST Caribe - Antioquia °C
0,2022-11-08,23:45,95.1,0.0,13.1
1,2022-11-08,23:30,95.3,0.0,13.1
2,2022-11-08,23:15,95.8,0.0,13.1
3,2022-11-08,23:00,96.2,0.0,13.2
4,2022-11-08,22:45,96.6,0.0,13.3
...,...,...,...,...,...
164656,2018-01-01,02:00,97.4,0.0,13.5
164657,2018-01-01,01:30,97.4,0.0,13.5
164658,2018-01-01,01:00,97.3,0.0,13.2
164659,2018-01-01,00:30,97.3,0.0,13.2
164660,2018-01-01,00:00,97.4,0.0,13.0

In [28]:
df['space'] = ' '
df['time'] = df['Fecha']+df['space']+df['Hora']

In [29]:
df['time'] = pd.to_datetime(df['time'])

In [30]:
df

,Fecha,Hora,Humedad Relativa EST Caribe - Antioquia %,Radiación Par EST Caribe - Antioquia µmol m-2 s-1,Temperatura EST Caribe - Antioquia °C,time,space
0,2022-11-08,23:45,95.1,0.0,13.1,2022-11-08 23:45:00,
1,2022-11-08,23:30,95.3,0.0,13.1,2022-11-08 23:30:00,
2,2022-11-08,23:15,95.8,0.0,13.1,2022-11-08 23:15:00,
3,2022-11-08,23:00,96.2,0.0,13.2,2022-11-08 23:00:00,
4,2022-11-08,22:45,96.6,0.0,13.3,2022-11-08 22:45:00,
...,...,...,...,...,...,...,...
164656,2018-01-01,02:00,97.4,0.0,13.5,2018-01-01 02:00:00,
164657,2018-01-01,01:30,97.4,0.0,13.5,2018-01-01 01:30:00,
164658,2018-01-01,01:00,97.3,0.0,13.2,2018-01-01 01:00:00,
164659,2018-01-01,00:30,97.3,0.0,13.2,2018-01-01 00:30:00,
164660,2018-01-01,00:00,97.4,0.0,13.0,2018-01-01 00:00:00,